h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;}
h2 {
	padding-top: 50px;
        text-align: center;}
span::before {
            content: "DevOps";
            animation: animate infinite 3s;
            padding-left: 10px;
            color: #40C4FF;
            text-align: center;
        }
  
        @keyframes animate {

            50% {
                content: "Cloud";
            }
  
            75% {
                content: "Linux";
            }
        }
body{
    background-image: url("images/trail6.jpg");
    background-color: #212529;
    background-size: 100%;
    }
.center {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 50px 0px 0px 0px;
	border: 2px solid #00b6ff;
	display: block;
        margin-left: auto;
        margin-right: auto;
	
}
.space {
    padding: 150px 0px 0px 0px;

}
.social { 
    padding: 5px 0px 0px 0px; 
    text-align: center;
}
